.Accordion-style{
    padding: 15px 0px;
    margin: auto;
    width: 70%;
}

.Accordion__header-style {
    font-family: cursive ;
}

.form__row-style {
    padding: 0px 0px -40px 0px;
    text-align: center;
    margin: auto;
    width: 70%;
}

.form__row-style2 {
    text-align: center;
    margin: 10px 0px 0px 170px;
    width: 115px;
    height: 88px;
}

.form__row-style3 {
    margin: 10px 0px 0px 120px;
    padding: 5px;
    width: 900px;
}

.hr {
    border: 1px solid #dedede;
    width: 70%;
    margin: auto;
}