.Card-style {
    border: transparent;
    margin: auto;
}

.Card__CardImg-style {
    border-radius: 100%;
}

.Nav_Link{
    padding: 0px 10px;
}

.Card__title-style,.Card__text-style{
    font-family: 'Courier New', Courier, monospace;
}

